body {
  font-size: 15px;
  font-family: "Spartan", sans-serif;
  background: hsl(180, 52%, 96%);
}
header {
  width: 100%;
  height: 140px;
  background: hsl(179, 29%, 51%);
  background-image: url("../images/bg-header-desktop.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}
@media screen and (max-width: 375px) {
  header {
    background-image: url("../images/bg-header-mobile.svg");
  }
}

.filter-box {
  background: #fff;
  border-radius: 5px;
  padding: 13px 20px;
  box-shadow: 0px 0px 20px hsla(179, 29%, 51%, 0.5),
    0px 7px 20px hsla(179, 29%, 51%, 0.19);
  max-width: 81.333333%;
  margin-top: -34px;
  display: none;
}
@media screen and (max-width: 992px) {
  .filter-box {
    min-width: 86.666667%;
  }
}
.filter-btn {
  background-color: hsl(180, 52%, 96%);
  color: rgb(98, 163, 164);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0px 7px;
  padding: 2px 5px;
  transition: color, background-color 0.5s ease-in-out;
  margin-right: 0;
  border: none;
  border-top-left-radius: 3px;
  border-bottom-left-radius: 3px;
  cursor: default !important;
}
.remove-single-filter {
  color: #fff;
  background: rgb(98, 163, 164);
  font-size: 0.7rem;
  font-weight: 700;
  padding: 5px;
  border-top-right-radius: 3px;
  border-bottom-right-radius: 3px;
  cursor: pointer;
  transition: background 0.5s ease-in-out;
}
.remove-single-filter:hover {
  background: #000;
}
.clear-filter {
  font-weight: 700;
  text-transform: capitalize;
  color: rgb(98, 163, 164);
  cursor: pointer;
}
.clear-filter:hover {
  text-decoration: underline;
}
.single-job {
  background: #fff;
  border-radius: 5px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.05), 0px 7px 20px rgba(0, 0, 0, 0.19);
  padding: 37px 30px;
  transition: transform 0.3s ease-in-out;
}
.single-job:hover {
  transform: scale(1.03);
  box-shadow: 0px 0px 20px hsla(179, 29%, 51%, 0.5),
    0px 7px 20px hsla(179, 29%, 51%, 0.19);
}
.job-logo {
  transition: margin-top 0.3s ease-in-out;
}
@media screen and (max-width: 991px) {
  .job-logo {
    margin-top: -74px;
  }
  .single-job {
    margin-top: 70px !important;
  }
}
.featured-border {
  border-left: 6px solid hsl(179, 29%, 51%);
}
.company {
  font-weight: 700;
  font-size: 0.9rem;
  color: rgb(98, 163, 164);
}
.new,
.featured {
  color: #fff;
  font-size: 0.8rem;
  padding: 5px 9px;
  border-radius: 15px;
}
.new {
  background-color: rgb(98, 163, 164);
}
.featured {
  background-color: hsl(180, 14%, 20%);
}
.level {
  color: hsl(180, 14%, 20%);
  font-size: 1rem;
  font-weight: 700;
  cursor: pointer;
}
.level:hover {
  color: rgb(98, 163, 164);
}
.details {
  color: #8b9493;
  font-size: 0.8rem;
  font-weight: 300;
}

@media screen and (max-width: 991px) {
  .about {
    border-bottom: 1px solid #8b9493;
  }
}

.custom-btn {
  background-color: hsl(180, 52%, 96%);
  color: rgb(98, 163, 164);
  font-size: 0.8rem;
  font-weight: 700;
  margin: 0px 7px;
  padding: 2px 5px;
  border-radius: 3px;
  transition: color, background-color 0.5s ease-in-out;
}
.custom-btn:hover {
  color: #fff;
  background-color: rgb(98, 163, 164);
}
